@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center px-6 py-3 rounded-full font-semibold transition-colors duration-300;
  }

  .btn-primary {
    @apply bg-white text-black hover:bg-gray-200;
  }

  .btn-outline {
    @apply border-2 border-white text-white hover:bg-white hover:text-black;
  }
}

@layer utilities {
  .animate-fade-in-down {
    opacity: 0;
    animation: fadeInDown 1s ease-out forwards;
    animation-delay: 0.5s;
  }

  .animate-fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 1s;
  }

  .animate-fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
    animation-delay: 1.5s;
  }

  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
